<script type="text/x-magento-init">
{
    "*": {
        "tsn/ajaxToCart" : <?php echo $block->getAjaxCartInitOptions(); ?>,
        "tsn/ajaxsuite"    : <?php echo $block->getAjaxSuiteInitOptions(); ?>
    }
}
</script>
<script>
    window.ajaxCartLoaderOptions = <?php echo $block->getAjaxSidebarInitOptions(); ?>;
</script>