<?php
/**
 * @author TSN-Media Team
 * @copyright Copyright (c) 2018 TSN-Media (https://tsn-media.com)
 * @package TSN_ProductQuestionnaire
 */

?>
<div class="mb-ajaxsuite-popup-wrapper" id="mb-ajaxsuite-popup-wrapper">
    <a id="mb-ajaxsuite-close" class="mb-ajaxsuite-close"></a>
    <?php echo $block->getChildHtml('ajaxsuite.popup.popup'); ?>
</div>
<div class="mb-ajaxsuite-blank" id="mb-ajaxsuite-blank"></div>
