<?php
/**
 *
 * @var $block \TSN\Related\Block\Related
 */
?>
<?php if($block->getProductCollection()->getSize()): ?>
    <h3><?php echo __('Related Products another customers!');?></h3>
<?php endif; ?>
<div class="products wrapper grid products-grid products-related">
    <ol class="products list items product-items">
        <?php $iterator = 1; ?>
        <?php foreach ($block->getProductCollection() as $_item): ?>
            <?php $available = ''; ?>
            <?php if (!$_item->isComposite() && $_item->isSaleable()): ?>
                <?php if (!$_item->getRequiredOptions()): ?>
                    <?php $available = 'related-available'; ?>
                <?php endif; ?>
            <?php endif; ?>
            <?= /* @escapeNotVerified */ ($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>
            <div class="product-item-info <?= /* @escapeNotVerified */ $available ?>">
                <a href="<?php echo $_item->getProductUrl() ?>" class="product photo product-item-photo">
                    <img src="<?php echo $block->getImageHelper()->init($_item, 'product_page_image_small')->setImageFile($_item->getFile())->resize(200, 200)->getUrl();;  ?>" alt="">
                </a>
                <div class="product details product-item-details">
                    <strong class="product name product-item-name"><a class="product-item-link" title="<?= $block->escapeHtml($_item->getName()) ?>" href="<?= /* @escapeNotVerified */ $block->getProductUrl($_item) ?>">
                            <?= $block->escapeHtml($_item->getName()) ?></a>
                    </strong>

                    <?= /* @escapeNotVerified */ $block->getProductPrice($_item) ?>

                    <div class="secondary-addto-links actions-secondary" data-role="add-to-links">
                        <?php if ($addToBlock = $block->getChildBlock('addto')): ?>
                            <?= $addToBlock->setProduct($_item)->getChildHtml() ?>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
            <?= ($iterator == count($block->getProductCollection())+1) ? '</li>' : '' ?>
        <?php endforeach ?>
    </ol>
</div>
