<?php
/**
 * @author TSN-Media Team
 * @copyright Copyright (c) 2018 TSN-Media (https://tsn-media.com)
 * @package TSN_ProductQuestionnaire
 */

?>

<?php
/** @var \Magento\Sales\Block\Adminhtml\Order\View\Items $block */
?>
<div class="admin__table-wrapper">
    <table id="questionnaire-table" class="data-table admin__table-primary edit-order-table">
        <thead>
        <tr class="headings">
            <th><span>Product</span></th>
            <th><span>Question</span></th>
        </tr>
        </thead>
        <tbody>
            <?php $_items = $block->getItemsCollection();?>
            <?php $i = 0; foreach ($_items as $_item): ?>
                <?php if ($_item->getParentItem()) { continue; }?>

                <tr>
                    <td>
                        <span><?php echo $_item->getName(); ?></span><br />
                        <span><?php echo 'SKU '.$_item->getSku(); ?></span>
                    </td>
                    <td>
                        <?php if($_item->getTypeId() == 'grouped'):?>
                        <?php continue; ?>
                        <?php endif;?>
                        <span><?php echo $_item->getOrderItemQuestion(); ?></span>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
</div>
