<?php
/**
 * @author TSN-Media Team
 * @copyright Copyright (c) 2018 TSN-Media (https://tsn-media.com)
 * @package TSN_ProductQuestionnaire
 */
?>
<?php
/** @var TSN\ProductQuestionnaire\Block\Question $block */
?>
<?php
$product = $block->getProduct();
$groupQuestionnaire = $product->getGroupQuestionnaire();
$questions = $block->getQuestionByGroup($groupQuestionnaire);
$formQuestion = $block->getQuestionForm();
?>
<?php if ($product->getQuestion()) { ?>
    <div class="questionnaire-form-field">
        <div class="product-name">
            <h2><?php echo $product->getName() ?></h2>
        </div>
        <h3><?php echo $formQuestion ?></h3>
        <?php foreach ($questions as $question) { ?>
            <?php if ($question->getIsActive()) { ?>
                <div class="input-wrap">
                    <?php
                    $id = $question->getQuestionnaireId();
                    $content = $question->getQuestion();
                    ?>
                    <label for="answer-<?php echo $id ?>"
                           style="display: block; padding: 10px 0 5px;"><?php echo $content; ?></label>
                    <input type="hidden" id="question-<?php echo $id ?>" name="tsn[<?= $id ?>][question]"
                           value="<?php echo $content; ?>">
                    <input type="text" data-validate='{"required":true, "validate-no-html-tags":true}'
                           id="answer-<?php echo $id ?>" class="required-entry" name="tsn[<?= $id ?>][answer]">
                </div>
            <?php } ?>
        <?php } ?>
    </div>
<?php } ?>