<?php
/**
 * @author TSN-Media Team
 * @copyright Copyright (c) 2018 TSN-Media (https://tsn-media.com)
 * @package TSN_ProductQuestionnaire
 */
?>
<?php ///** @var $block Magento\Bundle\Block\Catalog\Product\View\Type\Bundle */ ?>
<?php
$product = $block->getProduct();
$helper = $this->helper('Magento\Catalog\Helper\Output');
?>
<?php $options = $block->decorateArray($block->getOptions()); ?>
<?php if ($product->isSaleable()): ?>
    <?php if (count($options)): ?>
        <script type="text/javascript">
            require([
                'jquery',
                'Magento_Bundle/js/price-bundle'
            ], function ($) {
                'use strict';
                var widget = $('#product_addtocart_form').priceBundle({
                    "optionConfig": <?php /* @escapeNotVerified */
                    echo $block->getJsonConfig() ?>,
                    "controlContainer": ".field.option"
                });
                return;
            });

        </script>
        <fieldset class="fieldset fieldset-bundle-options">
            <?php echo $block->getChildHtml('product_info_bundle_options_top'); ?>
            <?php foreach ($options as $option): ?>
                <?php if (!$option->getSelections()): ?>
                    <?php continue; ?>
                <?php endif; ?>
                <?php echo $block->getOptionHtml($option) ?>
            <?php endforeach; ?>
        </fieldset>
    <?php else: ?>
        <p class="empty"><?php /* @escapeNotVerified */
            echo __('No options of this product are available.') ?></p>
    <?php endif; ?>
<?php endif; ?>
