<?php /** @var $block \TSN\Contact\Block\ContactForm */
    $name = TSN\Contact\Api\Model\Schema\ContactInterface::NAME_FIELD;
    $email = TSN\Contact\Api\Model\Schema\ContactInterface::EMAIL_FIELD;
    $phone = TSN\Contact\Api\Model\Schema\ContactInterface::PHONE_FIELD;
    $comment = TSN\Contact\Api\Model\Schema\ContactInterface::COMMENTS_FIELD;
    $status = TSN\Contact\Api\Model\Schema\ContactInterface::STATUS_FIELD;
?>
<form class="form contact"
      action="<?php /* @escapeNotVerified */ echo $block->getFormAction(); ?>"
      id="contact-form"
      method="post"
      data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>"
      data-mage-init='{"validation":{}}'>
    <fieldset class="fieldset">
        <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Write Us') ?></span></legend><br />
        <div class="field note no-label"><?php /* @escapeNotVerified */ echo __('Jot us a note and we’ll get back to you as quickly as possible.') ?></div>
        <div class="field tsn_name required">
            <label class="label" for="tsn_<?php echo $name ?>name"><span><?php /* @escapeNotVerified */ echo __('Name') ?></span></label>
            <div class="control">
                <input name="tsn[<?php echo $name ?>]" id="tsn_<?php echo $name ?>" title="<?php /* @escapeNotVerified */ echo __('Name') ?>" value="<?php echo $block->escapeHtml($this->helper('TSN\Contact\Helper\Data')->getPostValue('name') ?: $this->helper('Magento\Contact\Helper\Data')->getUserName()) ?>" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field tsn_email required">
            <label class="label" for="tsn_<?php echo $email ?>"><span><?php /* @escapeNotVerified */ echo __('Email') ?></span></label>
            <div class="control">
                <input name="tsn[<?php echo $email ?>]" id="tsn_<?php echo $email ?>" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" value="<?php echo $block->escapeHtml($this->helper('TSN\Contact\Helper\Data')->getPostValue('email') ?: $this->helper('Magento\Contact\Helper\Data')->getUserEmail()) ?>" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}"/>
            </div>
        </div>
        <div class="field tsn_phone">
            <label class="label" for="tsn_<?php echo $phone ?>"><span><?php /* @escapeNotVerified */ echo __('Phone Number') ?></span></label>
            <div class="control">
                <input name="tsn[<?php echo $phone ?>]" id="tsn_<?php echo $phone ?>" title="<?php /* @escapeNotVerified */ echo __('Phone Number') ?>" value="<?php echo $block->escapeHtml($this->helper('TSN\Contact\Helper\Data')->getPostValue('phone')) ?>" class="input-text" type="text" />
            </div>
        </div>
        <div class="field tsn_comments required">
            <label class="label" for="tsn_<?php echo $comment ?>"><span><?php /* @escapeNotVerified */ echo __('What’s on your mind?') ?></span></label>
            <div class="control">
                <textarea name="tsn[<?php echo $comment ?>]" id="tsn_<?php echo $comment ?>" title="<?php /* @escapeNotVerified */ echo __('What’s on your mind?') ?>" class="input-text" cols="5" rows="3" data-validate="{required:true}"><?php echo $block->escapeHtml($this->helper('TSN\Contact\Helper\Data')->getPostValue('comments')) ?></textarea>
            </div>
        </div>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <input type="hidden" name="tsn[<?php echo $status ?>]" id="tsn_<?php echo $status ?>" value="<?php echo ($block->isDefault());?>" />
            <button type="submit" title="<?php /* @escapeNotVerified */ echo __('Submit') ?>" class="action submit primary">
                <span><?php /* @escapeNotVerified */ echo __('Submit') ?></span>
            </button>
        </div>
    </div>
</form>
