<?php

?>
<?php if ($filter instanceof Magento\CatalogSearch\Model\Layer\Filter\Price): ?>
    <?php $range = $this->getPriceRange($filter); ?>
    <?php $url = $this->getFilterUrl($filter); ?>
    <script>
        var price_url = "<?= $url; ?>";
        require([
            'jquery',
            "jquery/ui",
            'domReady!'
        ], function ($) {
            $("div#price-slider").slider({
                range: true,
                min: <?= $range['min'] ?>,
                max: <?= $range['max'] ?>,
                values: [<?= $range['min'] ?>, <?= $range['max'] ?>],
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ]);
                },
                change: function (event, ui) {
                    window.location.href = price_url + ui.values[0] + "-" + ui.values[1];
                }
            });
            $("#amount").val("$" + $("#price-slider").slider("values", 0) +
                " - $" + $("#price-slider").slider("values", 1));
        });
    </script>
    <?php ?>
    <p>
        <label for="amount">Price range:</label>
        <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
    </p>
    <div id="price-slider"></div>

<?php else: ?>
    <ol class="items tsn-multiple-layered-navigation-items">
        <?php foreach ($filterItems as $filterItem): ?>
            <li class="item <?php if($filterItem->isActive()): ?>active<?php endif; ?>">
                <?php if ($filterItem->getCount() > 0): ?>
                    <a href="<?php if($filterItem->isActive()): ?><?php echo $block->escapeUrl($filterItem->getRemoveUrl()); ?><?php else: ?><?php echo $block->escapeUrl($filterItem->getUrl()); ?><?php endif; ?>">
                        <?php echo $filterItem->getLabel(); ?>
                        <?php if ($this->helper('\Magento\Catalog\Helper\Data')->shouldDisplayProductCountOnLayer()): ?>
                            <span class="count"><?php echo $filterItem->getCount() ?><span class="filter-count-label"><?php if ($filterItem->getCount() == 1):?><?php echo __('item'); ?><?php else: ?><?php echo __('items'); ?><?php endif; ?></span></span>
                        <?php endif; ?>
                    </a>
                <?php else:?>
                    <?php echo $filterItem->getLabel(); ?>
                    <?php if ($this->helper('\Magento\Catalog\Helper\Data')->shouldDisplayProductCountOnLayer()): ?>
                        <span class="count"><?php echo $filterItem->getCount() ?><span class="filter-count-label"><?php if ($filterItem->getCount() == 1):?><?php echo __('item'); ?><?php else: ?><?php echo __('items'); ?><?php endif; ?></span></span>
                    <?php endif; ?>
                <?php endif; ?>
            </li>
        <?php endforeach ?>
    </ol>
<?php endif; ?>