/**
 * @author TSN-Media Team
 * @copyright Copyright (c) 2018 TSN-Media (https://tsn-media.com)
 * @package TSN_Suite
 */
@media (min-width: 980px) {

    .mb-ajaxsuite-popup-wrapper {
        max-width: 70%;
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 979px) {

    .mb-ajaxsuite-popup-wrapper {
        max-width: 80%;
        display: block;
    }
}

@media(min-width: 480px) and (max-width: 767px) {

    .mb-ajaxsuite-popup-wrapper {
        max-width: 90%;
        display: block;
    }
}

@media(max-width: 479px) {

    .mb-ajaxsuite-popup-wrapper {
        max-width: 90%;
        display: block;
    }
}